@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@900&family=Noto+Sans:wght@900&family=Phudu&family=Ubuntu:wght@700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: Calibri, sans-serif
}


body {
    width:300px;
    font-family: Calibri, sans-serif
    background-color: #ffffff;
}

h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #2080cd;
    font-size: 23px;
    padding: 3%;
}

h4 {
    display: inline-block;
    margin-left: 5%;
    color: #7f7f7f;
    font-size: 11px;
    padding: 0.5%;
    background-color: #ffffff;
}
a {
    display: inline-block;
    color: #838383;
    font-size: 30px;
    height: 2px;
    padding: 3%;
    margin-left: 37%;
    text-decoration: none;
}

#toSite{
  cursor: pointer;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  z-index: 1;
  &::-ms-expand {
    display: none;
  }

  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  select,
  &::after {
    grid-area: select;
  }

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;

  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

  &:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
  border-bottom: 2px solid #209ce5;
  border-radius: 0px;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}
#DownArrow{
    position: absolute;
    top: 40px;
    right: 3px;
    font-size: 20px;
    transform: rotate(90deg);
}

footer{
    margin-top: -24px;
    float: inline-end;
    width: 100%;
}

img{
    margin-left: -10%;
    width: 23px;
}
#RTK_Block{
  display: block;
}
#RTK_Moskva_Block{
  display: none;
}
#DomRu_Block{
  display: none;
}
#EG_Block{
  display: none;
}

.Select_Services{
    height: auto;
    padding-bottom: 10%;
    width: 49%;
    display: inline-block;
    border-right: 2px solid #209ce5;
    float: left;
}
.Price_Preview{
	height: 200px;
    width: 49%;
    display: inline-block;
    float: right;
}
.Service_Text{
	font-size: 16px;
    text-align: left;
    color: #3d3d3d;
    display: inline-block;
}
.Service_Checkbox{
    float: right;
    height: 26px;
    margin-right: 7px;
}
.Service_Input{
	margin-left: 3px;
    border: 2px solid #209ce5;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    width: 47%;
    color: #3d3d3d;
}
.PUB_Text{
	font-size: 16px;
    text-align: left;
    color: #3d3d3d;
    display: inline-block;
}
.Service_Button{
	margin-top: 5%;
    margin-left: 3%;
    font-size: 18px;
    font-weight: 700;
    color: #3d3d3d;
    width: 94%;
    height: 29px;
    background: 0;
    border: 2px solid #209ce5;
    border-radius: 4px;
}
.Service_Button:hover{
    margin-top: 5%;
    margin-left: 3%;
    font-size: 18px;
    font-weight: 700;
    color: #209ce5;
    width: 94%;
    height: 29px;
    background: #ffffff;
    border: 2px solid #4bb2ee;
    border-radius: 4px;
}
.ItogPrice{
    width: 100%;
    height: 35px;
    float: inline-end;
    border-top: 2px solid #209ce5;
    border-bottom: 2px solid #209ce5;
}
.ItogPrice_Text{
    font-size: 18px;
    margin-top: -4px;
    color: #3d3d3d;
    display: inline-block;
}
.headText{
    font-size: 16px;
    color: #2080cd;
    display: inline-block;
}
#RTK_Moskva_Game_Preview_Text{
  margin-top: -4px;
}
#DomRu_Royter_Count_Input{
    width: 21px;
    height: 20px;
    float: right;
    margin-top: 1px;
    margin-right: 4px;
}
#DomRu_Pristavka_Count_Input{
    width: 21px;
    height: 20px;
    float: right;
    margin-top: 1px;
    margin-right: 4px;
}

#DomRu_Internet_Preview_Text{
    position: absolute;
    top: 102px;
    right: 70px;
}

#DomRu_KTV_Preview_Text{
    position: absolute;
    top: 129px;
    right: 70px;
}
#DomRu_ITV_Preview_Text{
    position: absolute;
    top: 155px;
    right: 70px;
}
#DomRu_Royter_Preview_Text{
    position: absolute;
    top: 182px;
    right: 70px;
}
#DomRu_Pristavka_Preview_Text{
    position: absolute;
    top: 208px;
    right: 70px;
}
#EG_Royter_Price_Input{
    font-size: 17px;
    font-weight: 700;
    width: 22%;
}
#EG_Royter_Mounth_Input{
    font-size: 17px;
    font-weight: 700;
    width: 15%;
}
#EG_Royter_Count_Input{
    font-size: 17px;
    font-weight: 700;
    width: 15%;
}
#EG_Pristavka_Price_Input{
    font-size: 17px;
    font-weight: 700;
    width: 22%;
}
#EG_Pristavka_Mounth_Input{
    font-size: 17px;
    font-weight: 700;
    width: 15%;
}
#EG_Pristavka_Count_Input{
    font-size: 17px;
    font-weight: 700;
    width: 15%;
}
.EG_DopTex{
    font-weight: 700;
    font-size: 13px;
}