@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@900&family=Noto+Sans:wght@900&family=Phudu&family=Ubuntu:wght@700&display=swap');

#MyPartnersLog{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: "roboto-bold", arial, sans-serif;
    border-radius: 5px;
    height: 32px;
    width: 80px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;

    top: -137px;
    left: 222px;
    background: #1ca4ff;

}

#MyPartnersText{
    position: relative;
    left: 18px;
    top: 3px;
    color: #ffffff;
}
#MyPartnersText:hover{
    top: 2px;
}

#MyPartnersImg{
    left: -73px;
    width: 33%;
    position: relative;
    top: 2px;
    vertical-align: middle;
}

#MyPartnersLog:hover{
    top: -136px;
    background: rgb(0 142 237);
}

.select .tooltiptext1 {
    visibility: hidden;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 48%;
    width: 16%;
    text-align: left;
    padding: 6px;
    background-color: rgb(255 39 34 / 80%);

}

.select .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(255 39 34) transparent transparent;
}
.select:hover .tooltiptext1 {
    visibility: visible;
}



li .tooltiptext1 {
    visibility: hidden;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 48%;
    width: 16%;
    text-align: left;
    padding: 6px;
    background-color: rgb(255 39 34 / 80%);

}

li .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(255 39 34) transparent transparent;
}
li:hover .tooltiptext1 {
    visibility: visible;
}