@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@900&family=Noto+Sans:wght@900&family=Phudu&family=Ubuntu:wght@700&display=swap');

#MyPartnersLog{
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-family: roboto-bold, arial, sans-serif;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    top: 61px;
    width: 70%;
    left: 29px;
    text-decoration: none;
    border-radius: 5px;
    background: rgb(28, 164, 255);

}

#MyPartnersText{
    position: relative;
    left: 16px;
    top: 2px;
    color: rgb(255, 255, 255);
}
#MyPartnersText:hover{
    top: 1px;
}

#MyPartnersImg{
    position: relative;
    vertical-align: middle;
    top: 0px;
    width: 37%;
    left: -81px;
}

#MyPartnersLog:hover{
    top: 62px;
    background: rgb(0 142 237);
}



#MyPartnersLogMSK{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: "roboto-bold", arial, sans-serif;
    border-radius: 5px;
    height: 32px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;


    width: 119%;
    left: 172px;
    top: -7px;
    background: #1ca4ff;

}

#MyPartnersTextMSK{
    position: relative;
    left: 12px;
    top: 6px;
    color: #ffffff;
}
#MyPartnersTextMSK:hover{
    top: 5px;
}

#MyPartnersLogMSK:hover{
    top: -6px;
    background: rgb(0 142 237);
}

.ng-pristine .tooltiptext1 {
    visibility: hidden;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    text-align: left;
    padding: 6px;
    
    top: 0%;
    left: 85%;
    width: 74%;
    background-color: rgb(121 122 128 / 84%);

}

.ng-pristine .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(255 201 4) transparent transparent;
}
.ng-pristine:hover .tooltiptext1 {
    visibility: visible;
}