#PasteButton1{
    background: #f4f1e8;
    padding: 11px;
    border: 2px solid #bfbcb6;
    border-radius: 10px;
    font-weight: 500;
    color: #202026;
	cursor: pointer;
	margin-left: -6px;
    margin-top: 4%;
    width: 112px;
    font-size: 18px;
    padding-top: 8px;
    padding-left: 13px;
}

#PasteButton1:hover{
	background: #e7e7e7;
}


article .tooltiptext1 {
    visibility: hidden;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    text-align: left;
    padding: 6px;
    font-size: 14px;
    
    top: 26%;
    width: 30%;
    left: 50%;    
    background-color: rgb(32 32 38);

}

article .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #e30611 transparent transparent;
}
article:hover .tooltiptext1 {
    visibility: visible;
}

article .tooltiptext2 {
    visibility: hidden;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    text-align: left;
    padding: 6px;
    font-size: 14px;
    
    top: 25%;
    width: 30%;
    left: 20%;
    background-color: rgb(32 32 38);

}

article .tooltiptext2::after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 100%; /* To the right of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent #e30611;
    
}
article:hover .tooltiptext2 {
    visibility: visible;
}

form .tooltiptext3 {
    visibility: hidden;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    text-align: left;
    padding: 6px;
    
    top: 64%;
    width: 30%;
    left: 66%;
    font-size: 16px;
    background-color: rgb(32 32 38);

}

form .tooltiptext3::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #e30611 transparent transparent;
}
form:hover .tooltiptext3 {
    visibility: visible;
}