#pasteButt{
    display: inline;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 24px;
    transition: .2s;
    white-space: nowrap;
    border: 2px solid var(--line-250);
    color: var(--tone-900);
    margin-left: 10px;
}

#pasteButt:hover{
	background-blend-mode: multiply;
    background-color: var(--action-hover);
}


article .tooltiptext1 {
    visibility: hidden;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    text-align: left;
    padding: 6px;
    font-size: 14px;
    
    top: 26%;
    width: 30%;
    left: 50%;    
    background-color: rgb(32 32 38);

}

article .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #e30611 transparent transparent;
}
article:hover .tooltiptext1 {
    visibility: visible;
}

article .tooltiptext2 {
    visibility: hidden;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    text-align: left;
    padding: 6px;
    font-size: 14px;
    
    top: 25%;
    width: 30%;
    left: 20%;
    background-color: rgb(32 32 38);

}

article .tooltiptext2::after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 100%; /* To the right of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent #e30611;
    
}
article:hover .tooltiptext2 {
    visibility: visible;
}

form .tooltiptext3 {
    visibility: hidden;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    text-align: left;
    padding: 6px;
    
    top: 64%;
    width: 30%;
    left: 66%;
    font-size: 16px;
    background-color: rgb(32 32 38);

}

form .tooltiptext3::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #e30611 transparent transparent;
}
form:hover .tooltiptext3 {
    visibility: visible;
}